header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: black;
}

nav {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    scale: 1;
    transition: 0.3s;
}

nav ul li a:hover {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(227, 73, 73);
    scale: 1.2;
}

@media screen and (max-width: 1000px) {
    nav {
        align-items: flex-end;
    }

    nav ul li {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li p {
        display: none;
    }
}
