.touit-container {
    width: 80%;
    background-color: black;
    border: 1px solid red;
    color: red;
    padding: 20px;
    margin-right: 20px;
}

.touit-container h4 {
    font-weight: bolder;
    font-size: 16px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.touit-container .touit-date,
.touit-container .touit-likes {
    font-weight: bolder;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 3px;
    text-align: right;
}

.touit-container .touit-msg {
    font-weight: bolder;
    font-size: 16px;
    font-style: italic;
    word-wrap: break-word;
}
